* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.pause {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 40px;
  z-index: 5;
  right: 60px;
}

.pause img {
  height: 100%;
  user-select: none;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -1692px, 0); /* The image width */
  }
}
